In [ ]:
# NIM / NAMA : 16020055 / Natalie Calosa
# Tanggal    : 12 Desember 2020
# Deskripsi  : Program yang menampilkan data.

In [ ]:
#Kamus
#df = data frame
#c = data frame yang berisi data dengan fakultas FMIPA
#d = data frame yang berisi data dengan fakultas FTTM
#e = data frame yang berisi data dengan fakultas FSRD
#f = data frame yang berisi data dengan fakultas SAPPK
#g = data frame yang berisi data dengan fakultas SF
#h= data frame yang berisi data dengan fakultas STEI
#i =data frame yang berisi data dengan fakultas  FITB
#j = data frame yang berisi data dengan fakultas FTMD
#k = data frame yang berisi data dengan fakultas SBM
#l = data frame yang berisi data dengan fakultas FTSL
#m = data frame yang berisi data dengan fakultas SITHR
#n =data frame yang berisi data dengan fakultas SITHS
#o = data frame yang berisi data dengan fakultas FTI
# i = integer
# s= float, nilai korelasi antara data nilai_fis dan nilai_kal

In [ ]:
#Algoritma

In [1]:
#1. Banyaknya data
import pandas as pd #import modules
df = pd.read_csv("nilai_uas.csv") #membaca data
print("Banyak data adalah :", len(df)) #menunjukkan banyak data yaitu len dari df

Banyak data adalah : 3562

In [2]:
# 2. 10 Data Pertama 
import pandas as pd #import modules
df = pd.read_csv("nilai_uas.csv") #membaca data
print("Sepuluh data pertama:") #print keterangan
print(df.loc[:9]) #megambil 10 data pertama

Sepuluh data pertama:
                  nama fakultas  nilai_kal  nilai_fis  nilai_kim
0         Raihan Daris       SF      60.27      65.59      51.70
1           Galuh Wina     STEI      52.99      55.25      66.31
2         Johannes Sun    FMIPA      51.20      51.30      84.70
3  Abdurrahman WIlliam     FTSL      31.17      36.88      50.25
4         Rayhan Faris     STEI      55.55      57.61      67.46
5  Margareth Widyatama     FTTM      42.78      50.23      71.17
6      Christofer Jaza     FTSL      31.64      38.03      34.99
7         Wafika Nadia       SF      60.96      57.54      76.03
8  Elizabeth Parikesit     STEI      54.35      55.30      59.15
9         Halida Aqila    SITHR      63.71      67.23      63.76

In [24]:
#Data ke 50 - 60
import pandas as pd #import modules
df = pd.read_csv("nilai_uas.csv") #membaca data
for i in range (50,61): #mendefinisikan i
    print ("data ke-",i) #print keterangan
    print (df.loc[i]) #mengambil data ke-i

data ke- 50
nama         Ulul Mochammad
fakultas               FTTM
nilai_kal             38.75
nilai_fis             44.24
nilai_kim             40.11
Name: 50, dtype: object
data ke- 51
nama         George Vrince
fakultas              FITB
nilai_kal            44.02
nilai_fis            45.15
nilai_kim            41.76
Name: 51, dtype: object
data ke- 52
nama         Fayza Eunike
fakultas             STEI
nilai_kal           55.28
nilai_fis           59.47
nilai_kim           49.29
Name: 52, dtype: object
data ke- 53
nama         Kevin Faustin
fakultas             SAPPK
nilai_kal            47.72
nilai_fis            49.65
nilai_kim            52.76
Name: 53, dtype: object
data ke- 54
nama         salah Siagian
fakultas             SAPPK
nilai_kal            47.14
nilai_fis            51.26
nilai_kim            46.77
Name: 54, dtype: object
data ke- 55
nama         Nabilah Satya
fakultas                SF
nilai_kal            61.26
nilai_fis            63.96
nilai_kim            57.19
Name: 55, dtype: object
data ke- 56
nama         Tharisa Ghiffari
fakultas                 FSRD
nilai_kal               74.14
nilai_fis               78.86
nilai_kim               54.59
Name: 56, dtype: object
data ke- 57
nama         Setyawan Ahmad
fakultas               FSRD
nilai_kal             75.18
nilai_fis             78.33
nilai_kim             51.35
Name: 57, dtype: object
data ke- 58
nama         Kelvin Salsabiela
fakultas                  FTTM
nilai_kal                39.69
nilai_fis                40.92
nilai_kim                51.15
Name: 58, dtype: object
data ke- 59
nama         Sitorus Aidil
fakultas              FTMD
nilai_kal            58.49
nilai_fis            55.54
nilai_kim             55.2
Name: 59, dtype: object
data ke- 60
nama         Hendrianto Muhammad
fakultas                    FTTM
nilai_kal                  41.84
nilai_fis                  45.93
nilai_kim                  68.35
Name: 60, dtype: object

In [3]:
#4. Banyaknya mahasiswa tiap fakultas
import pandas as pd #import modules
df = pd.read_csv("nilai_uas.csv") #membaca data
c = (df.loc[df["fakultas"] == "FMIPA"])  #mengambil data fakultas FMIPA
d = (df.loc[df["fakultas"] == "FTTM"]) #mengambil data fakultas FTTM
e = (df.loc[df["fakultas"] == "FSRD"])#mengambil data fakultas FSRD
f = (df.loc[df["fakultas"] == "SAPPK"])#mengambil data fakultas SAPPK
g = (df.loc[df["fakultas"] == "SF"])#mengambil data fakultas SF
h = (df.loc[df["fakultas"] == "STEI"])#mengambil data fakultas STEI
i = (df.loc[df["fakultas"] == "FITB"])#mengambil data fakultas FITB
j = (df.loc[df["fakultas"] == "FTMD"])#mengambil data fakultas FTMD
k = (df.loc[df["fakultas"] == "SBM"])#mengambil data fakultas SBM
l = (df.loc[df["fakultas"] == "FTSL"])#mengambil data fakultas FTSL
m = (df.loc[df["fakultas"] == "SITHR"])#mengambil data fakultas SITHR
n =  (df.loc[df["fakultas"] == "SITHS"])#mengambil data fakultas SITHS
o = (df.loc[df["fakultas"] == "FTI"])#mengambil data fakultas FT
print ("Banyak mahasiswa fakultas FMIPA :",len(c)) #print data jumlah mahasiswa fakultas FMIPA  (yang merupukan panjang dari dataframe c)
print ("Banyak mahasiswa fakultas STEI :",len(h)) #print data jumlah mahasiswa  fakultas STEI (yang merupukan panjang dari dataframe h)
print ("Banyak mahasiswa fakultas FTI :",len(o)) #print data jumlah mahasiswa fakultas FTI (yang merupukan panjang dari dataframe o)
print ("Banyak mahasiswa fakultas SITHS :",len(n))#print data jumlah mahasiswa fakultas SITHS (yang merupukan panjang dari dataframe n)
print ("Banyak mahasiswa fakultas FTSL :",len(l))#print data jumlah mahasiswa fakultas FTSL (yang merupukan panjang dari dataframe l)
print ("Banyak mahasiswa fakultas FITB :",len(i))#print data jumlah mahasiswa fakultas FITB (yang merupukan panjang dari dataframe i)
print ("Banyak mahasiswa fakultas SF :",len (g))#print data jumlah mahasiswa fakultas SF (yang merupukan panjang dari dataframe g)
print ("Banyak mahasiswa fakultas SAPPK :",len(f))#print data jumlah mahasiswa fakultas SAPPK (yang merupukan panjang dari dataframe f)
print ("Banyak mahasiswa fakultas FTTM :",len(d))#print data jumlah mahasiswa fakultas FTTM (yang merupukan panjang dari dataframe d)
print ("Banyak mahasiswa fakultas FTMD :",len(j))#print data jumlah mahasiswa fakultas FTMD (yang merupukan panjang dari dataframe j)
print ("Banyak mahasiswa fakultas SBM :",len(k))#print data jumlah mahasiswa fakultas SBM (yang merupukan panjang dari dataframe k)
print ("Banyak mahasiswa fakultas FSRD :",len(e))#print data jumlah mahasiswa fakultas FSRD (yang merupukan panjang dari dataframe e)
print ("Banyak mahasiswa fakultas SITHR :",len(m))#print data jumlah mahasiswa fakultas SITHR (yang merupukan panjang dari dataframe m)

Banyak mahasiswa fakultas FMIPA : 396
Banyak mahasiswa fakultas STEI : 499
Banyak mahasiswa fakultas FTI : 0
Banyak mahasiswa fakultas SITHS : 102
Banyak mahasiswa fakultas FTSL : 424
Banyak mahasiswa fakultas FITB : 283
Banyak mahasiswa fakultas SF : 154
Banyak mahasiswa fakultas SAPPK : 198
Banyak mahasiswa fakultas FTTM : 454
Banyak mahasiswa fakultas FTMD : 352
Banyak mahasiswa fakultas SBM : 261
Banyak mahasiswa fakultas FSRD : 260
Banyak mahasiswa fakultas SITHR : 179

In [4]:
#Nilai korelasi antara nilai kalkulus dan fisika
import pandas as pd #import modules
df = pd.read_csv("nilai_uas.csv") #membaca data
s = df["nilai_kal"].corr(df["nilai_fis"]) #mencari korelasi antara data nila_kal dan nilai_fis
if s >= 0 and s < 0.5: #jika nilai korelasi mendekati 0
    print ("Korelasi antara nilai kalkulus dan nilai fisika", s, "dan keduanya tidak berkorelasi") #maka kedua data tersebut tidak bekorelasi
elif s <= 1 and s >= 0.5:#jika nilai korelasi mendekati 1
    print ("Korelasi antara nilai kalkulus dan nilai fisika", s, "dan keduanya berbanding lurus")#maka kedua data tersebut berbanding lurus
else:#jika nilai korelasi mendekati -1
    print ("Korelasi antara nilai kalkulus dan nilai fisika", s, "dan keduanya berbanding terbalik")#maka kedua data tersebut berbanding terbalik

Korelasi antara nilai kalkulus dan nilai fisika 0.9605289823695184 dan keduanya berbanding lurus

In [ ]:
#Keduanyya berkorelasi berbanding lurus karena memiliki nilai korelasi mendektai 1