In [ ]:
#NIM/Nama  : 16020055/Natalie Calosa
#Tanggal   : 15 Desember 2020
#Deskripsi : Menampilkan informasi data sesuai perintah.

In [ ]:
#Kamus
#df = dataframe

In [2]:
import pandas as pd
df= pd.read_csv ("covid.csv")

In [13]:
len(df) #menggunakan fungsi len untuk mencari panjang data

27138

In [4]:
a = len(df) #mencari panjang data
df[(a-5):]#mengeprint panjang data- 5 hingga data terakhir

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
27133,2020-07-27,West Bank and Gaza,10621,78,3752,6791,152,2,0,Eastern Mediterranean
27134,2020-07-27,Western Sahara,10,1,8,1,0,0,0,Africa
27135,2020-07-27,Yemen,1691,483,833,375,10,4,36,Eastern Mediterranean
27136,2020-07-27,Zambia,4552,140,2815,1597,71,1,465,Africa
27137,2020-07-27,Zimbabwe,2704,36,542,2126,192,2,24,Africa

In [14]:
df[200:204] #menampilkan data ke 200-204

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
199,2020-02-03,Italy,2,0,0,2,0,0,0,Europe
200,2020-02-03,Japan,20,0,1,19,0,0,0,Western Pacific
201,2020-02-03,Malaysia,8,0,0,8,0,0,0,Western Pacific
202,2020-02-03,Nepal,1,0,0,1,0,0,0,South-East Asia

In [16]:
df["WHO Region"].value_counts() #menggunakan value counts untuk mendapatkan banyaknya data untuk masing-masing WHO Regions

Europe                   8445
Africa                   6269
Americas                 4941
Eastern Mediterranean    3243
Western Pacific          2677
South-East Asia          1563
Name: WHO Region, dtype: int64

In [17]:
df["Deaths"].corr(df["Recovered"]) #menggunakan corr untuk mendapatkan nilai korelasi

0.7590739072277012

In [ ]:
#Keduanya berkorelasi lurus karena nilai korelasi mendekat 1