In [ ]:
#NIM/Nama  : 16020055/Natalie Calosa
#Tanggal   : 15 Desember 2020
#Deskripsi : Menampilkan informasi data sesuai perintah.

In [2]:
import pandas as pd
df= pd.read_csv ("covid.csv")

In [ ]:
#Kamus
#df = dataframe
#i=integer
#a= dataframe yang berisi data dengan Country/Region Indonesia

In [2]:
df.loc[(df["Country/Region"] == "Indonesia") & (df["Date"] == "2020-06-03")] #menggunakan perintah df.loc untuk mencari data negara Indonesia pada tanggal 3 Juni 2020

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
16933,2020-06-03,Indonesia,28233,1698,8406,18129,684,35,471,South-East Asia

In [5]:
df.loc[(df["Country/Region"] == "Indonesia") | (df["Country/Region"] == "Singapore") ] #menggunakan df.loc untuk menemukan semua data dengan country indonesia atau singapore

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
8,2020-01-23,Singapore,1,0,0,1,1,0,0,Western Pacific
17,2020-01-24,Singapore,3,0,0,3,2,0,0,Western Pacific
28,2020-01-25,Singapore,3,0,0,3,0,0,0,Western Pacific
41,2020-01-26,Singapore,4,0,0,4,1,0,0,Western Pacific
56,2020-01-27,Singapore,5,0,0,5,1,0,0,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
26727,2020-07-25,Singapore,49888,27,45352,4509,513,0,180,Western Pacific
26844,2020-07-26,Indonesia,98778,4781,56655,37342,1492,67,1301,South-East Asia
26914,2020-07-26,Singapore,50369,27,45521,4821,481,0,169,Western Pacific
27031,2020-07-27,Indonesia,100303,4838,58173,37292,1525,57,1518,South-East Asia
27101,2020-07-27,Singapore,50838,27,45692,5119,469,0,171,Western Pacific

In [13]:
len(df.loc[(df["Date"] == "2020-07-27") & (df["Confirmed"] < 100000)] ) #menggunakan fungsi len untuk menghitung berapa banyak negara dengan kasus terkonfirmasi dibawah 100000 pada saat 27 Juli 2020

163

In [5]:
a = df.loc[(df["Country/Region"] == "Indonesia")]#dataframe Indonesia
i = a["Confirmed"].idxmin() #i adalah data dengan kasus terkonfirmasi terkecil di Indonesia
#df[i:i+1] (apabila ingin menampilkan data pada saat pertama kali kasus terkonfirmasi di Indonesia)
df["Date"][i:i+1] #untuk print datenya saja

1146    2020-03-02
Name: Date, dtype: object

In [ ]:
#Kasus pertama di Indonesia adalah tanggal 2 Maret 2020

In [6]:
a = df.loc[(df["Country/Region"] == "China")]
i = a["Confirmed"].idxmax()#i adalah data dengan kasus terkonfirmasi tebesar di Indonesia
#df[i:i+1] (apabila ingin menampilkan data pada saat kasus terkonfirmasi paling banyak di China)
df["Date"][i:i+1] #untuk menampilkan datenya saja

26987    2020-07-27
Name: Date, dtype: object

In [ ]:
#Kasus aktif terbanyak di China terjadi pada tanggal 27 Juli 2020